* { 
    margin:0px;
    padding:0px;
    font-family: Comic Sans MS;
    font-size: 105%;
  }

.sidebarcontainer {
    margin-left: 25px;
    margin-right: 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.sidebarcontainer > div {
    margin-top: 20px;
}

.header2{
    grid-area: header;
    background-color:lightgray;
    text-align: center;
    font-family: Comic Sans MS;
    position: relative;
    border: none;
}

.header{
    grid-area: header;
    background-color:lightgray;
    text-align: center;
    font-size: 50px;
    position: relative;
}

.sidebar { 
    grid-area: sidebar; 
    height: 100%;
    max-width: 10000px;
}
.search { grid-area: search; }
.main { grid-area: main; 
    height: 100%;}

.grid-container {
  background-color: #000000;
  display: grid;
  grid-template-rows: 10% 15% 68%;
  grid-template-columns: 400px auto;
  grid-template-areas:
    'header header'
    'sidebar search'
    'sidebar main';
  grid-gap: 7px;
  width: 100vw;
  height: 100vh;
  border-style: none;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0; 
}

.headertext {
    /* height: 100%;
     padding-top: 50%;
    
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); */
    }


.centertext{
    text-align: center;
    padding: 15%;
}

.homeviewbutton{
    background-color: orange;
    display: inline-block;
    padding: 0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
}

.homeviewbutton:hover{
    color:#000000;
    background-color:#FFFFFF;
}